# Dependencias (¡Nunca se deben subir!)
node_modules/

# Archivos de entorno (Por seguridad)
.env

# Logs de errores de NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo (Opcional)
.DS_Store
Thumbs.db
