body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  text-align: center;
}


#map{
  height: 500px;
  width: 100%;
}

#form{
  margin: 10px;
}

input{
  padding: 5px;
  margin: 5px;
}

button{
  padding: 6px 10px;
  background-color: aquamarine;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #004a99;
}
